.landing {
  @apply mt-40 grid items-center justify-items-center;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
  }

  .text {
    h1 {
      @apply text-5xl font-black leading-tight;

      @media (max-width: 639px) {
        @apply text-4xl;
      }

      > span {
        @apply bg-gradient-to-r from-blue via-red to-orange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .info {
      @apply text-2xl font-bold mt-4;
    }

    .stack {
      @apply mt-10;
    }
  }

  .picture {
    @apply relative;

    .swiper {
      width: 400px;
      .slide {
        @apply rounded-lg shadow-lg;
      }
    }

    @media (max-width: 1023px) {
      @apply hidden;
    }
  }
}
