@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white bg-gradient-to-tl bg-fixed from-zinc-900/0 via-zinc-900 to-zinc-900/0 overflow-x-hidden;
}

html, body, #root {
    @apply h-full;
}

*::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

*::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #6E6E75;
}